<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="apiUrlCountDateType" value="Minute"/>
    <add key="apiUrlCountDateRange" value="3"/>
  </appSettings>
  <connectionStrings>
    <add name="HJApiMonitor_Write_DbConnString" connectionString="server=192.168.21.28,2433;User ID=class_coder; Password=D64D@6B2A;database=HJ_ClassLog" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>